<section [ngClass]="'KOLKLD'">
  <div [ngClass]="'nsjkfssfd'">
    <main [ngClass]="'Sidebar'">
      <div [ngClass]="'APODPD'">
        <p>
          MarketPlace
        </p>
        <div [ngClass]="'NJSFFK flex justify-around'">
          <div>
            <h1>
              Item For Sale
            </h1>
          </div>
          <div>
            <button mat-raised-button>Save Draft</button>
          </div>
        </div>
      </div>
      <div [ngClass]="'_DOIDOD relative	'">
        <div [ngClass]="'POADODO flex justify-center'">
          <button mat-raised-button>
            <mat-icon>upload</mat-icon>
            Add Photo
          </button>
        </div>
      </div>
      <div [ngClass]="'MOK_FPFP relative'">
        <form action="" method="post">

          <mat-form-field appearance="outline" [ngClass]="'MLKFOFO w-full'">
            <mat-label>Title</mat-label>
            <input matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="outline" [ngClass]="'MLKFOFO w-full'">
            <mat-label>Price</mat-label>
            <input matInput type="number">
          </mat-form-field>
          <mat-form-field appearance="outline" [ngClass]="'MLKFOFO w-full'">
            <mat-label>Category</mat-label>
            <mat-select disableRipple>
              <mat-option value="1">Tool</mat-option>
              <mat-option value="2">Household</mat-option>
              <mat-option value="3">Garden</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" [ngClass]="'MLKFOFO w-full'">
            <mat-label>Conditions</mat-label>
            <mat-select disableRipple>
              <mat-option value="1">News</mat-option>
              <mat-option value="2">Use - Like New</mat-option>
              <mat-option value="3">Used - Good</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline" [ngClass]="'_DODPOIF w-full'">
            <mat-label>Descriptions</mat-label>
            <textarea matInput cols="9" rows="7"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" [ngClass]="'MLKFOFO w-full'">
            <mat-label>
              Product Tag</mat-label>
            <input matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="outline" [ngClass]="'MLKFOFO w-full'">
            <mat-label>
              <mat-icon>
                location_on
              </mat-icon>
              Location
            </mat-label>
            <input matInput type="text">
          </mat-form-field>
          <div [ngClass]="'JIFJFI'">
            <button mat-raised-button [ngClass]="'w-full'">Update</button>
          </div>
        </form>
      </div>
    </main>
    <div [ngClass]="'MKSKJFO flex'">
      <div [ngClass]="'MDKLKKDL'">
        <div>
          <h4>
            Preview
          </h4>
        </div>
        <div [ngClass]="'NKJFK w-full'">
          <div [ngClass]="'LPLSFP'">
            <div [ngClass]="'SLKFKF'">
              <div [ngClass]="'MPDOOPD flex justify-center'">
                <div [ngClass]="'_posdshd flex justify-center'">
                  <h2>
                    Your Listing Preview
                  </h2>
                  <p>
                    As you create your listing, you can preview how it will appear to others on Marketplace.
                  </p>
                </div>
              </div>
            </div>

          </div>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<router-outlet></router-outlet>
